body{
    font-family:'Ancizar sans';
    background-color: rgb(24, 24, 24);
}

#body{
    height:100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar{
    height:10vh;
    background-color: rgb(255, 255, 255);
    width: 90%;
}